.discover {
	min-height: 100vh;
	width: 100%;
	padding: 7rem $padding-minimum-inline;

	&__header {
		position: relative;
		padding: 2rem 1rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;

		&__tags {
			align-self: center;
		}

		.custom_input {
			&--num {
				background: $primary-blue-dark !important;
				color: white;
			}
		}

		label {
			p {
				margin-bottom: 0.5rem;
				margin-top: 1rem !important;

				span {
					opacity: 0.5;
					margin-left: 0.5rem;
					font-style: italic;
					font-size: 0.85rem;
				}
			}
		}

		h1 {
			color: $primary-blue-dark;
			font-weight: 400;
			text-align: center;
			margin-bottom: 2rem;

			span {
				font-family: 'Ubuntu mono', monospace;
				font-size: 1.25em;
			}
		}

		&__search {
			// Search box
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 1rem;
			max-width: 400px;

			input {
				width: 100%;
				border: none;
				border-radius: none;

				&[type='text'] {
					border-radius: 0;
					background: none;
					height: 40px;
					padding: 5px 10px;
					border: 1px solid $primary-blue-dark;
				}
			}

			label {
				position: absolute;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
				border-radius: 0;

				svg {
					position: absolute !important;
					color: white !important;
					font-size: 1.2rem !important;
					cursor: pointer !important;

					* {
						cursor: pointer !important;
					}
				}

				input {
					border-radius: 0;
					background: $primary-blue-dark;
					color: white !important;
					cursor: pointer;
					height: 40px;
					width: 40px;
					min-width: 40px;
					min-height: 40px;
				}
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 2rem;
	}

	&__pagination {
		padding: 3rem 0 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&__pages {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			p {
				font-family: 'Ubuntu Mono', monospace;
				letter-spacing: 1px;
				font-style: italic;
			}

			div {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&__perPage {
			margin: 1rem 0;
			display: flex;
			align-items: center;
			justify-content: center;
			label {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				p {
					margin: 1rem 0 0.7rem 0;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		&__grid {
			padding-inline: 2rem;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 7rem 1rem;

		&__pagination {
			flex-direction: column;
			justify-content: center;
		}

		&__header {
			flex-direction: column;
			padding: 0 0 1rem 0;

			h1 {
				margin-bottom: 20px;
			}

			.discover__filters {
				flex-direction: column;

				> * {
					margin: 6px 0;
				}
			}
		}

		&__grid {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 1rem;
		}
	}
}
