.discover {
	min-height: 100vh;
	width: 100%;
	padding: 7rem $padding-minimum-inline;

	&__header {
		position: relative;
		padding: 2rem 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			color: $primary-blue-dark;
			font-weight: 400;
			text-align: center;

			span {
				font-family: 'Ubuntu mono', monospace;
				font-size: 1.25em;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 2rem;
	}

	&__pagination {
	}

	@media screen and (min-width: 768px) {
		&__grid {
			padding-inline: 2rem;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 7rem 1rem;

		&__header {
			flex-direction: column;
			padding: 0 0 1rem 0;

			h1 {
				margin-bottom: 20px;
			}

			.discover__filters {
				flex-direction: column;

				> * {
					margin: 6px 0;
				}
			}
		}

		&__grid {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 1rem;
		}
	}
}
