.fullrecipe {
	padding: 7rem $padding-minimum-inline;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;

	hr {
		margin: 0.5rem 0;
	}

	> div {
		max-width: 1000px;
	}

	&__editarea {
		max-width: 1000px;
		width: 100%;
		padding: 0 1rem 1.5rem 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> .btn {
			margin: 0.5rem;
		}
	}

	&__info,
	&__method {
		margin-bottom: 2rem;

		img {
			max-width: 500px;
		}

		ul,
		ol {
			> li {
				&::marker {
					font-family: 'Ubuntu Mono', monospace;
					font-weight: 400;
				}
			}
			margin-left: 2rem;
		}

		ul {
			li {
				list-style: disc !important;
			}
		}

		ol {
			li {
				list-style: decimal !important;
			}
		}
	}

	&__ingredients {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 1.5rem;

		li {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-left: 1rem;

			// List item prefix -
			&::before {
				position: absolute;
				top: 50%;
				content: '-';
				transform: translate(-125%, -50%);
				font-family: monospace;
				opacity: 0.7;
				height: 0.5rem;
				line-height: 0.5rem;
				text-align: center;
			}
		}
	}

	&__method,
	&__info {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 1rem 0rem 1rem 0rem;
		}

		img {
			position: relative;
			max-width: 100%;
			margin: 1rem 0;
		}
	}

	&__header {
		max-width: 1000px;
		position: relative;
		width: 100%;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		&__user {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex: 1;
			font-family: 'Overpass', sans-serif;
			font-weight: 600;
			color: $primary-blue-dark;

			p {
				margin: 0 0.4rem;
				&.user-score {
					opacity: 0.6;
				}
			}

			img {
				$max-img: 3rem;
				width: $max-img;
				height: $max-img;
				max-width: $max-img;
				max-height: $max-img;
				border-radius: 50%;
				margin-left: 0.7rem;
			}
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
			flex: 1;

			h1 {
				font-size: 1.7rem;
				margin-bottom: 1rem;
				text-align: start;
				color: $primary-blue-dark;
				grid-row: 1;
				grid-column: 1/-1;
			}

			> span {
				grid-row: 2;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				white-space: nowrap;
			}
		}
	}

	&__tags {
		margin-bottom: 2rem;
		display: flex;
		li:not(li:last-of-type) {
			&::after {
				content: ',';
			}
			margin-right: 7px;
			font-family: 'Overpass', sans-serif;
			opacity: 0.86;
		}
	}

	&__tags,
	&__ingredients {
		display: flex;
		flex-wrap: wrap;
	}

	&__interactions {
		margin: 0.7rem 0 1rem 0;
		width: 100% !important;
		max-width: 800px;

		// controls for post viewer
		&__controls {
			> div {
				display: flex;
				align-items: center;

				p {
					margin-left: 0.68rem;
					font-size: 0.93rem;
					font-family: 'Ubunto Mono', monospace;
				}
			}
		}

		// stats for post owner
		&__stats {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.likes {
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					margin-right: 0.5rem;
					color: $primary-red;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 8rem 1rem 5rem 1rem;

		&__header {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;

			&__info {
				margin-top: 1.5rem;
				h1 {
					text-align: center;
				}
			}
		}

		&__tags,
		&__ingredients {
			align-items: flex-start;
			justify-content: flex-start;
		}

		> * {
			width: 100%;
		}
	}
}
