.fullrecipe {
	padding: 7rem $padding-minimum-inline;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;

	hr {
		margin: 0.5rem 0;
	}

	> div {
		max-width: 1000px;
	}

	&__editarea {
		width: 100%;
		padding: 0 1rem 1.5rem 1rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		> .btn {
			margin: 0.5rem;
		}
	}

	&__info,
	&__method {
		margin-bottom: 2rem;

		img {
			max-width: 500px;
		}

		ul,
		ol {
			> li {
				&::marker {
					font-family: 'Ubuntu Mono', monospace;
					font-weight: 400;
				}
			}
			margin-left: 2rem;
		}

		ul {
			li {
				list-style: disc !important;
			}
		}

		ol {
			li {
				list-style: decimal !important;
			}
		}
	}

	&__ingredients {
	}

	&__method,
	&__info {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 1rem 0rem 1rem 0rem;
		}

		img {
			position: relative;
			max-width: 100%;
			margin: 1rem 0;
		}
	}

	&__header {
		position: relative;
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		> h1 {
			font-size: 1.7rem;
			margin-bottom: 1rem;
			text-align: start;
			color: $primary-blue-dark;
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;

			> span {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				white-space: nowrap;

				&:nth-child(1) {
					grid-column: 1;
				}
				&:nth-child(2) {
					grid-column: 2;
				}
				&:nth-child(3) {
					grid-column: 3;
				}
			}
		}
	}

	&__tags {
		margin-bottom: 2rem;
		display: flex;
		li:not(li:last-of-type) {
			&::after {
				content: ',';
			}
			margin-right: 7px;
			font-family: 'Overpass', sans-serif;
			opacity: 0.86;
		}
	}

	&__tags,
	&__ingredients {
		display: flex;
		flex-wrap: wrap;
	}

	&__interactions {
		width: 100% !important;
		max-width: 800px;

		&__controls {
			> div {
				display: flex;
				align-items: center;

				p {
					margin-left: 0.68rem;
					font-size: 0.93rem;
					font-family: 'Ubunto Mono', monospace;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 7rem 1rem;

		&__tags,
		&__ingredients {
			align-items: center;
			justify-content: center;
		}

		> * {
			width: 100%;
		}
	}
}
