.search {
	padding: 7rem $padding-minimum-inline;

	&__grid {
		> h2 {
			text-align: center;
			margin-top: 2rem;
			width: 100%;
			color: $primary-blue-dark;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2rem;

		> div {
			display: flex;
			align-items: center;
			justify-content: center;

			h1 {
				margin-right: 20px;
				font-family: 'Ubuntu mono', monospace;
				color: $primary-blue-dark;
			}
		}

		// Search box
		&__box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 30px 10px;
			max-width: 400px;

			input {
				width: 100%;
				border: none;

				&[type='text'] {
					background: rgba(0, 0, 0, 0.082);
					height: 40px;
					padding: 5px 10px;
				}
			}

			label {
				background: rgba(0, 0, 0, 0.103);
				position: absolute;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

				&:hover {
					background: rgba(0, 0, 0, 0.205);
				}

				input {
					cursor: pointer;
					height: 40px;
					width: 40px;
					background: url('../images/search.svg');
					background-position: center;
					background-size: 20px 20px;
					background-repeat: no-repeat;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		padding: 7rem 1rem;

		&__header {
			flex-direction: column;
			> div {
				flex-direction: column;
				margin-top: 1rem;
			}
		}
	}
}
