.btn {
  border: none;
  padding: 12px 19px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.btn--solid {
  background: white;
  color: #2f327a;
}

.btn--solid:hover {
  color: white;
  background: black;
}

.btn--solid-blue {
  background: #2f327a;
  color: white !important;
}

.btn--solid-blue:hover {
  background: #45489b;
  color: white !important;
}

.btn--large {
  border-radius: 3px;
  padding: 25px 50px;
  font-size: 1.1em;
  background: #494ed1;
  color: white;
}

.btn--large:hover {
  color: #dfdcff;
  background: #2f327a;
}

.btn--pill {
  border-radius: 40px;
  color: #2f327a;
}

.btn--pill:hover {
  background: #494ed1;
  color: white;
}

.btn--no-bg {
  background: none;
}

.navbar {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  background: white;
  z-index: 999;
}

.navbar__navigation__mobile {
  display: none;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.navbar__navigation__mobile span {
  height: 2px;
  width: 100%;
  background: #3b3b3b;
  -webkit-transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar__navigation__mobile.close span:nth-child(1) {
  -webkit-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg);
}

.navbar__navigation__mobile.close span:nth-child(2) {
  opacity: 0;
}

.navbar__navigation__mobile.close span:nth-child(3) {
  -webkit-transform: translate(0, -8px) rotate(-45deg);
          transform: translate(0, -8px) rotate(-45deg);
}

.navbar__navigation .menu.mobile-variant {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.navbar__navigation .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__navigation .menu ul li {
  padding: 1rem;
}

.navbar__navigation .menu ul li a {
  color: #2f327a;
}

.navbar__navigation .menu__mobile__actions {
  display: none;
}

.navbar__navigation .menu__mobile__actions button {
  color: #2f327a;
  margin: 0 10px;
}

.navbar__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__actions button {
  color: #2f327a;
}

.navbar__brand {
  position: absolute;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.navbar__brand a {
  color: #2f327a;
  font-size: 2.5rem;
  font-family: 'Berkshire Swash', cursive;
}

.navbar__notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__notif svg {
  font-size: 1.7rem;
  margin-right: 2rem;
  color: #2f327a;
  cursor: pointer;
}

.navbar__notif svg > * {
  cursor: pointer;
}

.navbar__notif__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.navbar__notif__profile img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem !important;
  }
}

@media screen and (max-width: 768px) and (max-width: 430px) {
  .navbar__brand {
    left: 40%;
  }
}

@media screen and (max-width: 768px) {
  .navbar__navigation .menu {
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 1rem;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(240, 240, 240, 0.979);
  }
  .navbar__navigation .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__navigation .menu__mobile__actions {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0 0 0;
    margin-top: 1rem;
  }
  .navbar__navigation .menu__mobile__actions::after {
    position: absolute;
    width: 100%;
    content: '';
    height: 1px;
    background: #2f327a;
    opacity: 0.25;
    top: 0;
    left: 0;
  }
  .navbar__navigation__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__actions button {
    display: none;
  }
  .navbar__notif svg {
    margin-right: 20px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 3rem 1rem 3rem;
  background: white;
  width: 100%;
}

.footer__logo h3 {
  font-family: 'Berkshire Swash', cursive;
  color: #2f327a;
  font-size: 1.7rem;
}

.footer__navigation {
  width: 100%;
}

.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.footer__navigation ul li {
  margin: 10px;
}

.footer__navigation ul li a {
  color: #2f327a;
  padding: 1rem;
}

.footer__info {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.footer__info__legal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__info__legal a {
  color: black;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__info__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.footer__info__copyright a {
  color: black;
  text-align: center;
}

.footer__info, .footer__navigation {
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .footer__navigation > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info__legal {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.recipe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.recipe > header {
  z-index: 1;
  padding: 1rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.recipe > header .avatar {
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.recipe > header .avatar img {
  min-width: 100%;
  height: 100%;
}

.recipe > header h2 {
  text-align: start;
  font-weight: 500;
  font-size: 1.2rem;
}

.recipe > header h2 a {
  font-size: 1em;
  font-style: normal;
  font-family: 'Poppins', sans-serif !important;
  font-weight: normal !important;
  opacity: 1 !important;
  letter-spacing: normal !important;
  margin: 0 !important;
}

.recipe > header a {
  text-align: start;
  position: relative;
  font-family: 'Overpass', sans-serif;
  opacity: 0.35;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-style: italic;
  margin-left: 5px;
  -webkit-transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  color: white;
}

.recipe__bg {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: opacity 0.45s ease, -webkit-transform 0.2s linear;
  transition: opacity 0.45s ease, -webkit-transform 0.2s linear;
  transition: opacity 0.45s ease, transform 0.2s linear;
  transition: opacity 0.45s ease, transform 0.2s linear, -webkit-transform 0.2s linear;
}

.recipe__bg__overlay {
  background: rgba(0, 0, 0, 0.637);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe__bg__overlay .recipe__content {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe__preview {
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .recipe:hover header a {
    opacity: 1;
  }
  .recipe:hover .recipe__bg {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .recipe header p {
    opacity: 1;
  }
  .recipe__bg {
    background-image: none !important;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .recipe__bg__overlay {
    background: none;
  }
}

.custom_input {
  border: none;
  padding: 9px 15px;
  margin: 2px 2px 9px 2px;
}

.custom_input--underline {
  background: none;
  border-bottom: 1px solid white;
  color: white;
}

.filters {
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters header h2 {
  margin-right: 10px;
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
}

.filters > * select {
  font-style: italic;
  background: #e6e6e6;
  margin: 0 4px;
  font-size: 1.2rem;
  font-family: 'Overpass', sans-serif;
  border-radius: none;
  border: none;
  padding: 10px 20px;
  white-space: nowrap;
}

.logger {
  position: absolute;
  background: #2f327a;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scaleY(0) translateX(-50%);
          transform: scaleY(0) translateX(-50%);
  -webkit-transform-origin: top center !important;
          transform-origin: top center !important;
  opacity: 0;
  left: 50%;
  z-index: 10;
  max-width: 300px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) !important;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) !important;
  outline: red dashed 2px;
  border: none;
}

.logger--showing {
  -webkit-transform: scaleY(1) translateX(-50%);
          transform: scaleY(1) translateX(-50%);
  opacity: 1;
}

.logger__title, .logger__message {
  color: white;
  text-align: center;
}

.logger__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.logger__title svg {
  font-size: 2rem;
  margin-bottom: 7px;
}

.logger--error {
  outline: 2px dashed #f14a4a;
}

.logger--error .logger__title {
  color: #f14a4a !important;
}

.logger--alert {
  outline: 2px dashed #3fe039;
}

.logger--alert .logger__title {
  color: #3fe039 !important;
}

.modal {
  position: fixed;
  padding: 2rem 1rem;
  width: 90vw;
  height: 70vh;
  opacity: 0;
  z-index: 9999999999999;
  background: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  border-radius: 30px;
  left: 50%;
  top: 50%;
  max-width: 800px;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.modal header {
  width: 100%;
  color: white;
}

.modal header h1 {
  width: 100%;
  text-align: center;
}

.modal header svg {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.modal__body {
  overflow-x: hidden;
  overflow-y: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__body__user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

.modal__body__user img {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

.modal__body__user a {
  color: white;
}

.modal--active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 768px) {
  .modal {
    width: calc(100vw - 2rem);
    height: 90vh;
  }
  .modal header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .modal header svg {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 1rem;
  }
}

.spinner {
  position: fixed;
  z-index: 99999999;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/home.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.home__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.548);
}

.home__wrapper__landing {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.home__wrapper__landing__split {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  padding: 5rem;
}

.home__wrapper__landing__split--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__wrapper__landing__split h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3rem;
  margin-bottom: 40px;
}

.home__wrapper__landing__split p {
  font-size: 1.1em;
  margin-right: 30px;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.877);
  text-align: end;
}

.home__wrapper__showcase__item {
  padding: 12rem 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__wrapper__showcase__item > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem;
}

.home__wrapper__showcase__item header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.home__wrapper__showcase__item header svg,
.home__wrapper__showcase__item header h2 {
  margin: 0 20px;
}

.home__wrapper__showcase__item header svg {
  font-size: 4rem;
}

.home__wrapper__showcase__item header h2 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.3rem;
}

.home__wrapper__showcase__item article p {
  text-align: center;
}

.home__wrapper__showcase__item:nth-child(odd) {
  background: #2f327a;
}

@media screen and (max-width: 768px) {
  .home {
    background: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  }
  .home__wrapper {
    background: none;
  }
  .home__wrapper__landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__wrapper__landing__split {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .home__wrapper__landing button {
    background: white !important;
    color: #2f327a;
  }
  .home__wrapper__landing button:hover {
    background: rgba(255, 255, 255, 0.863) !important;
    color: #2f327a !important;
  }
  .home__wrapper__showcase__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__wrapper__showcase__item article {
    padding: 0;
  }
  .home__wrapper__showcase__item header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__wrapper__showcase__item header > * {
    text-align: center;
  }
  .home__wrapper__showcase__item header svg,
  .home__wrapper__showcase__item header h2 {
    margin-bottom: 40px;
  }
  .home__wrapper__showcase__item--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home__wrapper__showcase .split {
    padding: 0;
  }
  .home__wrapper__showcase .split:nth-child(1) {
    margin-bottom: 5rem;
  }
}

.discover {
  min-height: 100vh;
  width: 100%;
  padding: 7rem 3rem;
}

.discover__header {
  position: relative;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover__header h1 {
  color: #2f327a;
  font-weight: 400;
  text-align: center;
}

.discover__header h1 span {
  font-family: 'Ubuntu mono', monospace;
  font-size: 1.25em;
}

.discover__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .discover__grid {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .discover {
    padding: 7rem 1rem;
  }
  .discover__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 1rem 0;
  }
  .discover__header h1 {
    margin-bottom: 20px;
  }
  .discover__header .discover__filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover__header .discover__filters > * {
    margin: 6px 0;
  }
  .discover__grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}

.auth {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/auth.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.auth__login, .auth__signup {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
}

.auth__container {
  position: relative;
  padding: 3rem 1rem 1rem 1rem;
  background: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  max-width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.auth__container > div .btn {
  padding: 0 !important;
  margin: 5px;
  opacity: 0.85 !important;
}

.auth__container > div .btn:hover {
  opacity: 1 !important;
}

.auth__container > div .btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.auth__container a {
  margin: 15px 5px 5px 5px;
  color: white;
  font-size: 0.85rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.auth__container a:hover {
  opacity: 1;
}

.auth__form {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__form > * {
  max-width: 100% !important;
}

.auth__form > * > input {
  max-width: 100%;
}

.auth__form input {
  font-size: 1rem;
}

.auth__form input[type='submit'] {
  margin: 30px 20px 20px 20px;
  padding-inline: 30px !important;
}

.auth__form input[type='submit']:hover {
  color: white;
  background: rgba(255, 255, 255, 0.13);
}

.auth__form label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2px 2px 9px 2px;
}

.auth__form label input {
  margin: 0;
}

.auth__form label > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.753);
  cursor: pointer;
  position: absolute;
  font-size: 1.35rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

.auth header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.auth header h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Ubuntu mono', monospace;
  color: white;
}

.auth__wrapper {
  padding: 7rem 3rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, 0.425);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .auth__wrapper {
    padding: 7rem 1rem;
  }
}

.search {
  padding: 7rem 3rem;
}

.search__grid > h2 {
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  color: #2f327a;
}

.search__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.search__header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__header > div h1 {
  margin-right: 20px;
  font-family: 'Ubuntu mono', monospace;
  color: #2f327a;
}

.search__header__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 10px;
  max-width: 400px;
}

.search__header__box input {
  width: 100%;
  border: none;
}

.search__header__box input[type='text'] {
  background: rgba(0, 0, 0, 0.082);
  height: 40px;
  padding: 5px 10px;
}

.search__header__box label {
  background: rgba(0, 0, 0, 0.103);
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.search__header__box label:hover {
  background: rgba(0, 0, 0, 0.205);
}

.search__header__box label input {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: url("../images/search.svg");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 7rem 1rem;
  }
  .search__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search__header > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
}

.profile {
  padding: 7rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__card {
  width: 100%;
  max-width: 1000px;
  border-radius: 7px;
  overflow: hidden;
}

.profile__card__bio, .profile__card__actions {
  background: #494ed1;
  padding: 2rem;
  color: white;
}

.profile__card__bio {
  padding: 2rem 2rem 2rem 2rem;
}

.profile__card__actions {
  padding: 2rem 2rem 0 2rem;
  background: #494ed1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__card__actions > button {
  margin: 0 10px;
}

.profile__card__actions > button:first-of-type {
  margin: 0 10px 0 0;
}

.profile__card__actions > button:last-of-type {
  margin: 0 0 0 10px;
}

.profile__card__actions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.profile__card__actions button:not(.btn--no-bg) {
  background: rgba(255, 255, 255, 0.192);
}

.profile__card__actions button:not(.btn--no-bg):hover {
  background: white;
  color: #494ed1;
}

.profile__card__actions button.btn--no-bg {
  color: rgba(255, 255, 255, 0.877);
}

.profile__card__actions button.btn--no-bg:hover {
  color: rgba(226, 106, 106, 0.877);
}

.profile__card__actions button svg {
  margin-right: 10px;
  font-size: 1.3rem;
}

.profile__card__header {
  background: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 1rem 2rem;
}

.profile__card__header__avatar {
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__card__header__avatar img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.profile__card__header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile__card__header__details h1 {
  margin: 0 10px;
  font-family: 'Ubuntu mono', monospace;
}

.profile__card__header__details__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile__card__header__details__stats button {
  color: white;
  font-size: 1rem;
  font-family: 'Overpass', sans-serif;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 7rem 1rem;
  }
  .profile__card__actions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .profile__card__actions button {
    margin: 10px !important;
  }
  .profile__card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile__card__header__avatar {
    margin: 0 1rem 1rem 1rem;
  }
  .profile__card__header__details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile__card__header__details h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .profile__card__header__details__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__card__header__details__stats p {
    text-align: center;
  }
}

.create {
  padding: 7rem 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

.create > header button {
  margin-top: 2rem;
}

.create > header h1 {
  font-family: 'Ubuntu mono', monospace;
  color: #2f327a;
  margin-bottom: 2rem;
}

.create__container, .create__form, .create__preview {
  max-width: 1000px;
}

.create__container {
  background-image: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
  padding: 3rem;
  border-radius: 15px;
  width: 100%;
}

.create__preview {
  padding: 4rem 2rem;
  width: 100%;
}

.create__preview p {
  word-break: break-all;
}

.create__preview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__preview ul li:not(li:last-of-type) {
  margin-right: 7px;
  font-family: 'Overpass', sans-serif;
  opacity: 0.86;
}

.create__preview ul li:not(li:last-of-type)::after {
  content: ',';
}

.create__preview footer > span {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create__preview footer > span > span {
  margin-bottom: 8px;
}

.create__filepreview {
  padding: 2rem 0 0 0;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.create__filepreview__file {
  position: relative;
  width: clamp(150px, 150px, 150px);
  height: clamp(150px, 150px, 150px);
  margin: 1rem;
  background: transparent;
  border: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.create__filepreview__file img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.create__filepreview__file header {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
  font-size: 1rem;
  background: #494ed1;
  padding: 4px 10px;
  color: white;
  font-family: 'Ubuntu mono', monospace;
}

.create__filepreview__modal {
  z-index: 9999;
  background: #494ed1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1rem 1rem 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.create__filepreview__modal > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__filepreview__modal span {
  margin-top: 1rem;
  font-family: 'Overpass', sans-serif;
  opacity: 0.9;
  color: white;
  font-size: 0.8rem;
  font-style: italic;
}

.create__filepreview__modal label {
  color: white;
  margin-bottom: 1rem;
}

.create__filepreview__modal label > span {
  opacity: 1;
  font-style: normal;
  font-size: 1rem;
}

.create__filepreview__modal input {
  margin: 0;
  background: rgba(0, 0, 0, 0.336);
  border-bottom: none;
}

.create__form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
}

.create__form .label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create__form .label--title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.create__form .label--content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 4;
  grid-row: 4;
}

.create__form .label--method {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 5;
  grid-row: 5;
}

.create__form .label--ingredients {
  -ms-grid-row: 2;
  grid-row: 2;
}

.create__form .label--tags {
  -ms-grid-row: 3;
  grid-row: 3;
}

.create__form .label--upload {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

.create__form .label--tags, .create__form .label--ingredients {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__form .label--tags > header, .create__form .label--ingredients > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__form .label--tags button, .create__form .label--ingredients button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.create__form .label--tags button:hover, .create__form .label--ingredients button:hover {
  background: rgba(255, 255, 255, 0.199);
}

.create__form .label--tags button svg, .create__form .label--ingredients button svg {
  font-size: 1.3rem;
}

.create__form .label--tags input, .create__form .label--ingredients input {
  margin: 0;
  width: auto !important;
}

.create__form .label input {
  margin: none !important;
  width: 100%;
  max-width: 100%;
}

.create__form .label textarea {
  min-height: 200px;
  max-height: 400px;
  min-width: 400px;
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.create__form input[type='submit'] {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 7;
  grid-column: 7;
}

.create .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 2rem;
  height: calc();
}

.create .list__item {
  position: relative;
  margin: 5px 8px;
  background: white;
  color: #2f327a;
  border-radius: 8px;
  padding: 6px 20px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.create .list__item::after {
  content: 'x';
  position: absolute;
  background: rgba(0, 0, 0, 0.904);
  color: white;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.create .list__item:hover {
  color: rgba(255, 255, 255, 0.425);
}

.create .list__item:hover::after {
  opacity: 1;
  left: 0;
}

@media screen and (max-width: 768px) {
  .create {
    padding: 2rem 1rem;
  }
  .create > header {
    padding-top: 4rem;
  }
  .create__container {
    padding: 2rem 1rem;
  }
  .create__form {
    gap: 10px;
  }
  .create .list {
    padding: 1rem;
  }
  .create .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .create .label > header {
    display: -ms-grid;
    display: grid;
    max-width: 100%;
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  .create .label > header > input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label > header > button {
    -ms-grid-column: 4;
    grid-column: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .create .label--title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label--serves, .create .label--preptime, .create .label--cooktime {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .create .label--ingredients, .create .label--tags {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label--ingredients {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .create .label--tags {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .create .label--content, .create .label--method {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label--content textarea, .create .label--method textarea {
    min-width: 200px;
  }
  .create .label--content {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .create .label--method {
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .create .label--upload {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label--upload > * {
    width: 100%;
  }
  .create input[type='submit'] {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media screen and (max-width: 400px) {
  .create .label--serves, .create .label--preptime, .create .label--cooktime {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .create .label--serves {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .create .label--preptime {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .create .label--cooktime {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .create .label--ingredients {
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .create .label--tags {
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .create .label--content {
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .create .label--method {
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .create .label--upload {
    -ms-grid-row: 9;
    grid-row: 9;
  }
  .create input[type='submit'] {
    -ms-grid-row: 10;
    grid-row: 10;
  }
}

.fullrecipe {
  padding: 7rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullrecipe > div {
  max-width: 1000px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* :focus-visible {
  outline-style: dashed;
}

html,
body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */