@import './abstracts/index';

@import './components/index';

@import './pages/index';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,
body {
	overflow-x: hidden;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}
