// Buttons & variations

.btn {
	border: none;
	padding: 12px 19px;
	cursor: pointer;
	white-space: nowrap;
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;

	svg {
		font-size: 1rem;
	}

	&--solid {
		background: white;
		color: $primary-blue-dark;

		&:hover {
			color: white;
			background: rgb(0, 0, 0);
		}

		&-blue {
			background: $primary-blue-dark;
			color: white !important;

			&:hover {
				background: $btn-hover-blue;
				color: rgb(255, 255, 255) !important;
			}
		}
	}

	&--large {
		border-radius: 3px;
		padding: 25px 50px;
		font-size: 1.1em;
		background: $primary-blue;
		color: white;

		&:hover {
			color: rgb(223, 220, 255);
			background: $primary-blue-dark;
		}
	}

	&--pill {
		border-radius: 40px;
		color: $primary-blue-dark;

		&:hover {
			background: $primary-blue;
			color: white;
		}
	}
	&--round {
		border-radius: 50%;
		padding: 1rem;
	}

	&--no-bg {
		background: none;
	}

	&--red {
		background: $primary-red !important;
		color: white !important;

		&:hover {
			background: rgba(170, 23, 23, 0.829) !important;
		}
	}

	&--blue {
		background: $primary-blue-dark !important;
		color: white !important;

		&:hover {
			background: $btn-hover-blue !important;
			color: rgb(255, 255, 255) !important;
		}
	}

	&--green {
		background: $primary-green !important;
		color: white !important;

		&:hover {
			background: $btn-hover-green !important;
			color: rgb(255, 255, 255) !important;
		}
	}

	&--heart {
		color: white;

		&:hover {
			color: $primary-red !important;
		}

		&-liked {
			color: $primary-red !important;
			&:hover {
				color: white !important;
			}
		}
	}
}
