.custom_input {
	border: none;
	padding: 9px 15px;
	margin: 2px 2px 9px 2px;

	&--underline {
		background: none;
		border-bottom: 1px solid white;
		color: white;
	}

	&--comment-field {
		border: 1px solid $primary-blue-dark;
		background: none;
		color: black;
		max-height: 200px !important;
		min-height: 3rem !important;
		margin: 0 !important;
	}
}
