.recipe {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: $blue-gradient;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;

	header {
		z-index: 1;
		padding: 1rem 1rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		color: white;

		.avatar {
			position: relative;
			width: 50px;
			min-width: 50px;
			height: 50px;
			min-height: 50px;
			border-radius: 50%;
			overflow: hidden;

			img {
				min-width: 100%;
				height: 100%;
			}
		}

		h2 {
			text-align: start;
			font-weight: 500;
			font-size: 1.2rem;
		}

		a {
			text-align: start;
			position: relative;
			font-family: 'Overpass', sans-serif;
			opacity: 0.35;
			font-size: 0.9rem;
			letter-spacing: 1px;
			font-style: italic;
			margin-left: 5px;
			transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
			color: white;
		}
	}

	&__bg {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-position: center;
		background-size: cover;
		opacity: 0;
		transform: scale(1.3);
		transition: opacity 0.45s ease, transform 0.2s linear;

		&__overlay {
			background: rgba(0, 0, 0, 0.637);
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;

			.recipe__content {
				padding-bottom: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__preview {
		overflow: hidden;
		width: 100%;
		height: auto;
		min-height: 200px;
		max-height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 768px) {
		&:hover {
			header {
				a {
					opacity: 1;
				}
			}

			.recipe__bg {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	@media screen and (max-width: 768px) {
		header {
			p {
				opacity: 1;
			}
		}
		&__bg {
			background-image: none !important;
			transform: scale(1);
			opacity: 1;

			&__overlay {
				background: none;
			}
		}
	}
}
