.recipe {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: $blue-gradient;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;

	> header {
		z-index: 1;
		padding: 1rem 1rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		color: white;

		.avatar {
			position: relative;
			$avatar-box: 2.8rem;
			width: $avatar-box;
			min-width: $avatar-box;
			height: $avatar-box;
			min-height: $avatar-box;
			border-radius: 50%;
			overflow: hidden;

			a {
				margin: 0 !important;
				opacity: 1 !important;
			}

			img {
				min-width: 100%;
				height: 100%;
			}
		}

		h2 {
			text-align: start;
			font-weight: 500;
			font-size: 1.2rem;

			a {
				font-size: 1em;
				font-style: normal;
				font-family: 'Poppins', sans-serif !important;
				font-weight: normal !important;
				opacity: 1 !important;
				letter-spacing: normal !important;
				margin: 0 !important;
			}
		}

		a,
		p {
			display: flex;
			align-items: center;
			text-align: start;
			position: relative;
			font-family: 'Overpass', sans-serif;
			opacity: 0.575;
			font-size: 0.9rem;
			letter-spacing: 1px;
			margin-left: 5px;
			margin-top: 0.3rem;
			transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
			color: white;

			> svg {
				margin-right: 0.4rem;
				font-size: 0.75rem;
				color: $primary-red;
			}
		}
	}

	&__bg {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-position: center;
		background-size: cover;
		opacity: 0;
		transform: scale(1.3);
		transition: opacity 0.45s ease, transform 0.2s linear;

		&__overlay {
			background: rgba(0, 0, 0, 0.637);
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;

			div {
				padding: 1rem;
				width: 100%;
				color: white;
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.438) 25%,
					rgba(0, 0, 0, 0.78) 50%,
					rgba(0, 0, 0, 0.972) 75%,
					rgba(0, 0, 0, 1) 100%
				);
				display: flex;
				align-items: center;
				justify-content: flex-start;

				p {
					font-family: 'Ubuntu Mono', monospace;
					margin-right: 0.5rem;
				}

				svg {
					margin-right: 0.3rem;
				}
			}
		}
	}

	&__preview {
		overflow: hidden;
		width: 100%;
		height: auto;
		min-height: 100px;
		max-height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 768px) {
		&:hover {
			header {
				a,
				p {
					opacity: 1;
				}
			}

			.recipe__bg {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	@media screen and (max-width: 768px) {
		header {
			p {
				opacity: 1;
			}
		}
		&__bg {
			background-image: none !important;
			transform: scale(1);
			opacity: 1;

			&__overlay {
				background: none;
			}
		}
	}
}
