// Custom variables
$padding-minimum-inline: 3rem;
$padding-minimum-inline-mobile: 2rem;

$primary-blue: #494ed1;
$primary-blue-dark: #2f327a;

$primary-red: #f54c4c;
$primary-green: #66bb6a;

$btn-hover-blue: #45489b;
$btn-hover-green: #49cf5b;

$blue-gradient: linear-gradient(154.85deg, #4549b5 19.73%, #2f327a 97.33%);
